body {
  color: #262626;
}

h1 { 
  margin: 20px 0 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #b0b0b0;
}

h2 {
  padding: 50px 0 0;
  clear: both;
  font-size: 21px;
  color: #b0b0b0;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
}

.container {
  width: 990px !important;
}

#guide-logo > div {
  margin: 20px 37px 0 0;
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

#guide-logo .logo-white .logo {
  background: #000;
}

#guide-logo a {
  margin: 20px 0 0;
  display: block;
}

#guide-logo .logo img {
  max-width: 200px;
}

#color-palettes h2 {
  margin-bottom: 30px;
}

#color-palettes .color-palette {
  overflow: hidden;
}

#color-palettes .sample {
  margin: 0 20px 0 0;
  padding: 10px 0 55px 10px;
  float: left;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  width: 200px;
}

#color-palettes .stein-red .sample {
  background: #a00003;
}

#color-palettes .generic-red .sample {
  background: #800002;
}

#color-palettes .highlight-red .sample {
  background: #ba3c43;
}

#color-palettes .content-grey .sample {
  background: #161616;
}

#color-palettes .dark-grey .sample {
  background: #545454;
}

#color-palettes .medium-grey .sample {
  background: #b0b0b0;
}

#color-palettes .light-grey .sample {
  color: rgba(0,0,0,.5);
  background: #dadada;
}

#color-palettes .accent-grey .sample {
  color: rgba(0,0,0,.5);
  background: #e5e5e5;
}

#color-palettes .accent-light .sample {
  color: rgba(0,0,0,.5);
  background: #f0f0f0;
}

#color-palettes .accent-orange .sample {
  background: #ffaa29;
}

#color-palettes .accent-yellow .sample {
  color: rgba(0,0,0,.5);
  background: #fff387;
}

#color-palettes .palette-info {
  float: left;
  max-width: 600px;
}

#color-palettes .palette-info h3 {
  margin-top: 9px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
}

#color-palettes .palette-info p {
  margin: 0;
}

#marketing-examples .marketing-example {
  margin: 30px 0;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 27px;
  color: #fff;
  background: #a00003;
  text-transform: uppercase;
}

#marketing-examples .marketing-example-content {
  display: inline-block;
}

#marketing-examples .marketing-example-details {
  position: relative;
  display: inline-block;
  float: right;
  text-transform: none;
  background: #ba3c43;
}

#marketing-examples .marketing-example-details i {
  padding: 0 30px 0 0;
}

#marketing-examples .marketing-example-details i:after {
  position: absolute;
  top: 20px;
  right: 18px;
  content: " ";
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 11px solid #a00003;
}

#marketing-examples .marketing-example b {
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  color: #fff387;
}

#marketing-examples .marketing-example strong {
  font-weight: bold;
}

#marketing-examples .marketing-example i {
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
}

#marketing-examples .marketing-example-1 .marketing-example-content, #marketing-examples .marketing-example-1 .marketing-example-details {
  padding: 15px 18px;
  height: 59px;
}

#marketing-examples .marketing-example-2 {
  padding: 25px;
  width: 505px;
}

#marketing-examples .marketing-example-2 .marketing-example-content {
  display: block;
}

#marketing-examples .marketing-example-2 b {
  margin: 0 0 10px;
  display: block;
}

#marketing-examples .marketing-example-2 .marketing-example-details {
  margin: 15px 0 0;
  padding: 5px 30px;
  float: none;
  height: 40px;
}

#marketing-examples .marketing-example-2 .marketing-example-details i {
  padding: 0 15px 0 0;
}

#marketing-examples .marketing-example-2 .marketing-example-details i:after {
  top: 10px;
}

#marketing-examples .marketing-example-graphic {
  
}