#checkout {
  padding: 20px 0 0;
  &:after { 
     content: " ";
     display: block;
     height: 0; 
     clear: both;
  } 
  .checkout-login-guest {
    margin: 0 30px 0 0;
    float: left;
    width: 700px;
  }
  .cart-right-summary {
    float: right;
    width: 400px;
  }
}