#item {
  padding: 20px 0 0;
  &:after {
     content: " ";
     display: block;
     height: 0; 
     clear: both;
  }
  #item-gallery {
    float: left;
    width: 560px;
    .item-image-container {
      padding: 0 30px 25px 0;
      text-align: center;
      border-right: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
    }
    .item-image-thumbnails {
      padding: 25px 30px 25px;
      text-align: center;
      border-right: 1px solid #dadada;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin: 0 12px;
          display: inline-block;
        }
      }
    }
  }
  #item-right {
    float: right;
    width: 400px;
  }
}
#item-details {
  border-top: 1px solid #dadada;
}