#item {
  padding: 20px 0 0;
  &:after {
     content: " ";
     display: block;
     height: 0; 
     clear: both;
  }
  #item-gallery {
    float: left;
    width: 730px;
    @media (max-width: 1200px) {
      width: 580px;
    }
    .item-image-container {
      padding: 0 30px 25px 0;
      text-align: center;
      border-right: 1px solid @LightGrey;
      border-bottom: 1px solid @LightGrey;
      img {
        max-width: 700px;
        @media (max-width: 1200px) {
          max-width: 550px;
        }
      }
    }
    .item-image-thumbnails {
      padding: 25px 30px 25px;
      text-align: center;
      border-right: 1px solid @LightGrey;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin: 0 12px;
          display: inline-block;
        }
      }
    }
  }
  #item-right {
    float: right;
    width: 380px;
    @media (max-width: 1200px) {
      width: 330px;
    }
    .item-price-details {
      tr {
        td {
          padding: 3px 0;
          &:first-child {
            width: 92px;
          }
          &.sale-price,
          &.sale-price-value {
            font-size: 17px;
          }
        }
      }
    }
    .item-cart-buttons-added {
      display: none;
    }
  }
}
#item-details {
  border-top: 1px solid @LightGrey;
}