#item {
  margin: 30px 0 0;
  &:after {
     content: " ";
     display: block;
     height: 0; 
     clear: both;
  }
  #item-gallery {
    float: left;
    width: 730px;
    @media (max-width: 1200px) {
      width: 580px;
    }
    @media (max-width: 1000px) {
      width: 360px;
    }
    @media (max-width: 670px) {
      float: none;
      width: 100%;
    }
    .item-image-container {
      padding: 0 30px 25px 0;
      text-align: center;
      border-right: 1px solid @LightGrey;
      border-bottom: 1px solid @LightGrey;
      @media (max-width: 670px) {
        padding: 0 0 25px;
        border-right: none;
      }
      img {
        max-width: 700px;
        @media (max-width: 1200px) {
          max-width: 550px;
        }
        @media (max-width: 1000px) {
          max-width: 330px;
        }
        @media (max-width: 670px) {
          max-width: 100%;
        }
      }
    }
    .item-image-thumbnails {
      padding: 20px 30px;
      text-align: center;
      border-right: 1px solid @LightGrey;
      @media (max-width: 670px) {
        margin: 0 0 20px;
        border-right: none;
        border-bottom: 1px solid @LightGrey;
      }
      @media (max-width: 480px) {
        padding: 20px 0;
      }
      ul {
        margin: 0 30px 0 0;
        padding: 0;
        list-style: none;
        @media (max-width: 480px) {
          margin: 0;
        }
        li {
          margin: 5px 10px;
          display: inline-block;
          @media (max-width: 1000px) {
            margin: 5px;
          }
          img {
            width: 90px;
            @media (max-width: 1000px) {
              width: 53px;
            }
            @media (max-width: 670px) {
              width: 73px;
            }
            @media (max-width: 480px) {
              width: 150px;
            }
            @media (max-width: 370px) {
              width: 125px;
            }
          }
        }

      }
    }
  }
  #item-right {
    float: right;
    width: 380px;
    @media (max-width: 1200px) {
      width: 330px;
    }
    @media (max-width: 768px) {
      width: 38%;
    }
    @media (max-width: 670px) {
      float: none;
      width: 100%;
    }
    h3 {
      font-size: 21px;
      line-height: 25px;
    }
    .item-price-details {
      margin: 12px 0 0;
      tr {
        &:last-child {
          td {
            padding: 15px 0 0;
          }
        }
        td {
          padding: 3px 0;
          &:first-child {
            width: 92px;
          }
          &:last-child {
            color: @SteinRed;
          }
          &.sale-price,
          &.sale-price-value {
            font-size: 17px;
          }
          &.sale-price-value {
            font-weight: bold;
          }
          &.list-price,
          &.list-price-value {
            color: #545454;
            text-decoration: line-through;
          }
          &.available-status-value {
            font-weight: bold;
            color: #545454;
            &.in-stock {
              color: @Green;
            }
          }
        }
      }
    }
    .item-cart-buttons {
      margin: 20px 0 0;
      position: relative;
      button {
        width: 185px;
        @media (max-width: 1200px) {
          width: 160px;
        }
        @media (max-width: 768px) {
          float: none;
          width: 100%;
        }
        &#add-to-cart,
        &#continue-shopping {
          margin: 0 10px 0 0;
          float: left;
          @media (max-width: 768px) {
            margin: 0 0 10px;
          }
        }
        &#viewable-at {
          float: right;
          text-align: left;
          .caret {
            margin: 6px 0 0;
            float: right;
            border-top-color: @SteinRed;
          }
        }
      }
      .dropdown-menu {
        right: 0;
      }
      &.item-cart-buttons-added {
        display: none;
      }
      &:after { 
         content: " ";
         display: block;
         height: 0; 
         clear: both;
      }
    }
    .item-description {
      margin: 20px 0 0;
    }
    .item-additional-info {
      margin: 12px 0 25px;
      padding: 0;
      list-style: none;
      li {
        padding: 3px 0;
      }
    }
  }
}
#item-details {
  padding: 40px 0;
  border-top: 1px solid @LightGrey;
  h2 {
    margin: 0 0 10px;
    padding: 0;
    display: block;
    height: auto;
    border-bottom: none;
  }
  ul {
    margin: 0;
    padding: 0 0 0 15px;
    li {
      padding: 4px 0;
    }
  }
  .item-product-description,
  .item-features,
  .item-warranty {
    margin: 0 50px 0 0;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    @media (max-width: 1200px) {
      width: 29%;
    }
    @media (max-width: 1000px) {
      width: 28%;
    }
    @media (max-width: 768px) {
      margin: 10px 0 0;
      width: 100%;
    }
  }
  .item-product-description {
    @media (max-width: 670px) {
      margin: 0;
    }
  }
  .item-warranty {
    margin: 0;
    @media (max-width: 768px) {
      margin: 20px 0 0;
    }
  }
}