#wrap { /* wrapper div for sticky footer */
  min-height: 100%;
  height: auto;
  margin: 0 auto -240px;
  padding: 0 0 240px;
  @media (max-width: 1000px) {
    margin: 0 auto -420px;
    padding: 0 0 420px;
  }
  @media (max-width: 590px) {
    margin: 0 auto -585px;
    padding: 0 0 585px;
  }
}

/* ==============================
   HEADER
   ============================== */
.page-header {
  margin: 0;
  padding: 50px 0 20px;
  position: relative;
  border-bottom: none;
  h1 {
    a {
      overflow: hidden;
      white-space: nowrap;
      text-indent: 100%;
    	background: url('//cdn.steinhafels.com/img/logo@2x.png') no-repeat 0 0;
    	background-size: 130px 65px;
    	width: 130px;
    	height: 65px;
    }
  }
  .header-ad {
    font-weight: 500;
    a {
      padding: 5px 9px;
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 11px;
      color: white;
      background: @SteinRed;
      b {
        font-family: @ArialBlack;
        font-weight: normal;
        color: @AccentYellow;
      }
      i {
        font-weight: normal;
        font-style: normal;
        text-decoration: underline;
      }
      @media (max-width: 320px) {
        right: 0;
      }
    }
  }
}

/* ------------------------------
   UTILITY NAVIGATION
   ------------------------------ */
.navbar {
  margin-bottom: 0;
  border: none;
  .navbar-nav {
    margin: 25px 0 0;
    > li {
      > a {
        font-size: 11px;
        color: @ContentGrey;
        border-left: 1px solid @LightGrey;
        &:hover, &:focus {
          color: @ContentGrey;
          background-color: transparent;
        }
        @media (min-width: 768px) {
          padding-top: 0;
          padding-bottom: 0;
        }
      }
      &:first-child {
        > a {
          border-left: none;
        }
      }
      .dropdown-menu {
        padding: 0;
        .rounded(0);
        -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
        border: 1px solid @MediumGrey;
        li {
          &:first-child {
            a {
              padding: 10px 20px 5px;
            }
          }
          &:last-child {
            a {
              padding: 5px 20px 10px;
            }
          }
          a {
            padding: 5px 20px;
            font-size: 11px;
            color: @ContentGrey;
            &:hover,
            &:focus {
              color: @ContentGrey;
              background-color: @AccentLight;
            }
          }
        }
      }
      &.nav-cart {
        .dropdown-menu {
          padding: 15px;
          width: 285px;
          ul {
            padding: 0;
            list-style: none;
            li {
              overflow: hidden;
              clear: both;
              a {
                padding: 20px 0;
                overflow: hidden;
                display: block;
                &.added-item {
                  background: #ecffe6;
                }
              }
            }
          }
          img {
            float: left;
            max-width: 48px;
          }
          p {
            &.cart-item-name {
              float: left;
            }
            &.cart-item-price {
              float: right;
            }
          }
        }
        &.open {
          > a {
            color: #fff;
            background-color: @HighlightRed;
          }
          .dropdown-menu {
            display: block;
          }
        }
      }
    }
    > .open {
      > a {
        &:hover,
        &:focus {
          color: white;
          background-color: @HighlightRed;
          .caret {
            border-top-color: white;
            border-bottom-color: white;
          }
        }
        .caret {
          border-top-color: white;
          border-bottom-color: white;
        }
      }
    }
    > .dropdown {
      > a {
        .caret {
          border-top-color: @GenericRed;
          border-bottom-color: @GenericRed;
        }
      }
    }
    @media (max-width: 767px) {
      > li > a {
        padding: 5px 0;
        border-right: none;
      }
      .open .dropdown-menu > li > a {
        color: #777777;
      }
      .open .dropdown-menu > li > a:hover,
      .open .dropdown-menu > li > a:focus {
        color: #333333;
        background-color: transparent;
      }
      .open .dropdown-menu > .active > a,
      .open .dropdown-menu > .active > a:hover,
      .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
      }
      .open .dropdown-menu > .disabled > a,
      .open .dropdown-menu > .disabled > a:hover,
      .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle {
    border-color: @MediumGrey;
    &:hover, &:focus {
      background-color: white;
    }
    .icon-bar {
      background-color: @GenericRed;
    }
  }
  .navbar-header {
    margin: 0 0 0 15px;
  }
  .navbar-collapse, .navbar-form {
    border: none;
  }
  .navbar-form {
    margin: 10px 5px 0 0;
    padding: 0;
    @media (min-width: 768px) {
      margin: 20px 5px 0 0;
    }
    .form-control {
      width: 475px;
      @media (max-width: 1200px) {
        width: 375px;
      }
      @media (max-width: 1000px) {
        width: 275px;
      }
    }
  }
}

/* ==============================
   PRIMARY NAVIGATION
   ============================== */
.nav-tabs-wrapper {
  text-align: center;
}
.nav-tabs {
  margin: 0 15px;
  position: relative;
  border-bottom: none;
  @media (max-width: 768px) {
    display: none;
  }
  > li {
    position: static;
    display: inline-block;
    float: none;
    > a {
      margin: 0;
      padding: 10px 16px;
      font-weight: bold;
      color: @ContentGrey;
      border: none;
      .rounded(0);
      border-bottom: 2px solid @SteinRed;
      @media (min-width: 1200px) {
        padding: 10px 26px;
      }
      @media (max-width: 1000px) {
        padding: 10px 36px;
      }
      &:hover {
        color: white;
        border: none;
        background-color: @HighlightRed;
        border-bottom: 2px solid @SteinRed;
      }
    }
    &.nav-find-store {
      a {
        color: @GenericRed;
        &:hover {
          color: white;
        }
      }
      .sub-menu {
        left: auto;
        right: 0;
        width: 300px;
      }
    }
    .sub-menu {
      padding: 20px 25px;
      display: none;
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      background: #800002;
      border-top: 1px solid #a00003;
      > ul {
        margin: 0 40px 0 0;
        padding: 0;
        float: left;
        list-style: none;
        li {
          padding: 4px 0;
        }
      }
    }
    &:hover {
      .sub-menu {
        display: none;
        color: white;
      }
    }
  }
}
.nav-small {
  margin: 10px 15px;
  display: none;
  width: 90%;
  @media (max-width: 768px) {
    display: block;
  }
}

/* ==============================
   CONTENT
   ============================== */
section#content {
  margin: 0 15px 30px;
}

/* ==============================
   FOOTER
   ============================== */
#footer {
  padding: 30px 0;
  height: 240px;
  color: white;
  background-color: @ContentGrey;
  .footer-marketing {
    margin: 10px 0 0;
    float: right;
    height: 150px;
    width: 375px;
    background: @DarkGrey;
    @media (max-width: 768px) {
      margin: 0;
      float: none;
      width: 275px;
    }
  }
  .footer-column-wrapper {
    float: left;
    .footer-column {
      margin: 0 75px 0 0;
      display: inline-block;
      @media (max-width: 1200px) {
        margin: 0 35px 0 0;
      }
      @media (max-width: 1000px) {
        margin: 0 60px 0 0;
      }
      @media (max-width: 768px) {
        margin: 20px 35px 0 0;
      }
      h6 {
        font-size: 13px;
        font-weight: bold;
      }
      ul.footer-nav {
        margin: 0 0 30px;
        padding: 0;
        list-style: none;
        li {
          margin: 0 0 10px;
          a {
            font-size: 11px;
            color: white;
          }
        }
        @media (max-width: 768px) {
          margin: 0;
        }
      }
      &:last-of-type {
        margin: 0;
        @media (max-width: 768px) {
          margin: 20px 35px 0 0;
        }
      }
    }
    @media (max-width: 1000px) {
      width: 325px;
    }
    @media (max-width: 768px) {
      float: none;
      width: auto;
    }
  }
  @media (max-width: 1000px) {
    height: 420px;
  }
  @media (max-width: 590px) {
    height: 585px;
  }
}