#wrap { /* wrapper div for sticky footer */
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

/* ==============================
   HEADER
   ============================== */
.page-header {
  margin: 0;
  padding: 40px 0 20px;
  position: relative;
  border-bottom: none;
  h1 {
    margin: 0;
    a {
      overflow: hidden;
      white-space: nowrap;
      text-indent: 100%;
    	background: url('../img/logo@2x.png') no-repeat 0 0;
    	background-size: 130px 65px;
    	width: 130px;
    	height: 65px;
    }
  }
  .header-ad {
    font-weight: 500;
    a {
      padding: 5px 9px;
      position: absolute;
      top: 0;
      right: 15px;
      font-size: 11px;
      color: #fff;
      background: #a00003;
      b {
        font-family: @ArialBlack;
        font-weight: normal;
        color: @AccentYellow;
      }
      i {
        font-weight: normal;
        font-style: normal;
        text-decoration: underline;
      }
    }
  }
}

/* ------------------------------
   UTILITY NAV
   ------------------------------ */
.navbar {
  background-color: none;
  border: none;
  .navbar-brand {
    color: #777777;
    &:hover, &:focus {
      color: #5e5e5e;
      background-color: transparent;
    }
  }
  .navbar-text {
    color: #777777;
  }
  .navbar-nav {
    > li {
      > a {
        font-size: 11px;
        color: @ContentGrey;
        border-right: 1px solid @LightGrey;
        &:hover, &:focus {
          color: #333333;
          background-color: transparent;
        }
      }
    }
  }
  .navbar-toggle {
    border-color: #dddddd;
    &:hover, &:focus {
      background-color: #dddddd;
    }
    .icon-bar {
      background-color: #cccccc;
    }
  }
  .navbar-header {
    margin: 0 0 0 15px;
  }
  .navbar-collapse, .navbar-form {
    border-color: #e7e7e7;
  }
}
/* everything below needs to be organized */
.navbar .navbar-nav > .dropdown > a:hover .caret,
.navbar .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333333;
  border-bottom-color: #333333;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
.navbar .navbar-nav > .open > a .caret,
.navbar .navbar-nav > .open > a:hover .caret,
.navbar .navbar-nav > .open > a:focus .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.navbar .navbar-nav > .dropdown > a .caret {
  border-top-color: #777777;
  border-bottom-color: #777777;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar .navbar-nav .open .dropdown-menu > .active > a,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar .navbar-link {
  color: #777777;
}
.navbar .navbar-link:hover {
  color: #333333;
}

/* ==============================
   PRIMARY NAVIGATION
   ============================== */
.nav-tabs {
  margin: 0 15px;
  border-bottom: 1px solid #a00003;
  > li {
    > a {
      margin: 0;
      padding: 10px 14px;
      font-weight: bold;
      color: #161616;
      border: none;
      border-radius: 0;
      @media (min-width: 1200px) {
        padding: 10px 24px;
      }
      &:hover {
        color: #fff;
        border: none;
        background-color: #ba3c43;
      }
    }
  }
}

/* ==============================
   CONTENT
   ============================== */
section.content {
  margin: 30px 0;
}

/* ==============================
   FOOTER
   ============================== */
#footer {
  height: 60px;
  color: #fff;
  background-color: #161616;
}