.product-listing {
  .list-group {
    a.list-group-item {
      padding: 10px 0;
      color: @DarkGrey;
      border-left: none;
      border-top: 1px solid @LightGrey;
      border-right: none;
      border-bottom: 1px solid @LightGrey;
    }
  }
  .listing-header {
    line-height: 18px;
    height: 48px;
    .listing-results-count {
      float: right;
    }
  }
  .listing-item-row {
    > div {
      padding-bottom: 40px;
    }
    .item {
      position: relative;
      .item-image {
        margin: 0 0 15px;
        img {
          margin: 0 auto;
          display: block;
          height: auto;
          width: 100%;
        }
      }
      h3 {
        margin: 0 0 10px;
        font-size: 13px;
      }
      .listing-price {
        margin: 0;
        font-size: 17px;
        font-weight: bold;
        color: @SteinRed;
        span {
          margin: 0 0 0 5px;
          font-size: 13px;
          font-weight: normal;
          color: @DarkGrey;
          text-decoration: line-through;
        }
      }
    }
  }
}