.locations {
  margin-top: 15px;
  h3 {
    margin: 0 0 10px;
    font-size: 21px;
    line-height: 21px;
  }
  .locations-single {
    padding: 20px 0;
    clear: both;
    height: 275px;
    border-bottom: 1px solid @LightGrey;
    .store-hours {
      margin: 15px 0 0;
      td {
        padding: 3px 0;
        &.store-hours-time {
          text-align: right;
        }
      }
    }
    .location-address,
    .location-directions {
      margin: 10px 0 0;
    }
    .location-phone {
      margin: 5px 0 0;
      font-weight: bold;
    }
    &:after { 
       content: " ";
       display: block;
       height: 0; 
       clear: both;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
  .locations-map {
    margin: 0 0 20px;
    background: #a9cbff;
    img {
      width: 100%;
    }
  }
  .locations-more-info {
    margin: 0 0 40px;
    padding: 25px;
    background: @AccentLight;
  }
}